.icon-small[data-v-c222520a],.icon-small[data-v-6c3ed85d],.icon-small[data-v-3aacec88],.icon-small[data-v-7a3136d3]{width:20px;height:20px;display:inline-block;vertical-align:middle;margin-right:4px}
